
.taskWizardHeader {
    height: 5rem;
}
.taskWizardDropZone {
    height: 45vh;
    max-height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;    
}


.taskFileUploadButton {
    position: absolute;
    bottom: 5vh;
    right: 50%;
    transform: translateX(50%);
    z-index: 10000;
}
.taskWizardfiles {
    /* transition: .3s all; */
/*     
    bottom: 14rem;
    right: 6rem;
    width: 80%; */
    
    margin-top: -33vh; 
    height: 20vh;
    margin-left: 2rem;
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.taskSideComponent {
    bottom: 0rem;
    right: 0rem;
    width: 20%;
}

.taskWizardFolderCheckbox {
    height: 0.8rem;
    width: 0.8rem;
}

.bottomButtons .btn.btn-sm {
    padding: .3rem .8rem !important;
}

.taskWizardRemarks {
    height: 12rem !important;
    border: none;
    /* max-height: 10rem !important; */
}

.taskWizardSubTasksSection {
    height: 40vh;
    position: relative;
    /* max-height: 25rem; */
    overflow-y: auto;
}

.taskWizard .header {
    padding: .8rem;
}

.taskWizardSubTasksSection .preloader-wrapper.small {
    width: 1rem !important;
    height: 1rem !important;
  }